@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@layer base {
  :root {
    --background: 235 33% 10%;
    --foreground: 0 0% 100%;

    --card: 240 24% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 240 24% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 133 82% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 20% 22%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 20% 22%;
    --muted-foreground: 0 0% 69%;

    --accent: 43 100% 50%;
    --accent-foreground: 235 33% 10%;

    --destructive: 0 100% 63%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 15% 25%;
    --input: 240 15% 25%;
    --ring: 133 82% 28%;

    --radius: 0.75rem;

    --surface: 240 24% 14%;
    --surface-elevated: 244 20% 22%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-outfit antialiased;
  }

  input, textarea, select {
    @apply bg-transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
